<div class="row" style="background:#E0F574;position: relative;z-index: 1;" >
    <home-menu is-admin="{{isAdmin}}"></home-menu>
</div>
<div class="container-fluid">
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8 main-body-container">
		<div style="color:grey">
			<h3><u><center> Admin Details </center></u></h3>
     	</div>
	 	<form>
			<fieldset class="fieldset" style="    max-height: inherit;">
      <label><a href="javascript:" ng-click="createUserDetails();">Create your Account ? </a></label>
			    
		  		<div style="padding-top: 10px; font-size: large;"><a href="javascript:" ng-click="newPaper();">Create new Question Paper</a></div>

          <div style="padding-top: 10px;color: orangered;">view Technical/general/Arthematic/Reasoning Test the papers:</div>
         <div>
        <table  style="width:100%;background-color: lightskyblue" class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
                <th><a ng-href="#!/rrbId">RRB</a></th>
                <th><a href="#!/sscId">SSC</a></th>
                <th><a href="#!/gateId">GATE</a></th>
                <th><a href="#!/bankId">BANK</a></th>
                
            </tr>
              </thead>
            </table>  

      
          </div>
		  		
			
              <div style="padding-top: 10px;color: orangered;">view Grand Test papers:</div>

            <div>

				<table  style="width:100%;background-color: lightskyblue" class="table table-bordered table-striped table-hover">
 					<thead>
 						<tr>
   				 			<th>S.no</th>
    			 			<th>QuestionPaper-Id</th>
   				 			
 			 			</tr>
  						</thead>
  						<tbody>
              				<tr ng-repeat = "papers in questionPaperNo" >
    							<td>{{$index+1}}</td>
    							<td><a ng-href="javascript:" ng-click="viewPaper(papers.id);">{{papers.id}}</a></td>
    						</tr>
  						</tbody>

  					</table>	
				</div>

			</fieldset>
		</form>	
	 </div>	
	 <div class="col-lg-2"></div>
	</div>
</div>
	