<div class="row" style="background-color:white">
	 	<div class="col-lg-9">
	 		<img src="images/logo1.jpg" style="height: 56px;width: 480px;">
		</div>
         <div class="col-lg-2">
			<input type="button" name="btn" value="Login" style="background-color: cornflowerblue;margin-top: 21px;" ng-click="login();">
		</div>
       
 <!--<div style="background-color:#5D6D7E;background-color: #5D6D7E;height: 22px;">
        <div class="pull-right" style="color: white;">
            <img src="images/qustionPaper.png" style="height: 17px;"">Question Paper
            <img src="images/Information-icon.png" style="height: 17px;padding-left: 22px;">Instruction
            <img src="images/i.png" style="height: 17px;padding-left: 19px;">Question Paper
        </div>!-->
</div>