

<ul id="menu">
  <li><a href="#" title="about us" class="selected">ABOUT US</a>
     <ul>
        <li><a href="#" title="Older projects">Overview</a></li>
        <li><a href="#" title="Older projects">Our philosophy</a></li>
        <li><a href="#" title="Older projects">Meet the Promoter</a></li>
       </ul>
 </li>
  <li><a href="#" title="our courses">OUR COURSES</a>
    <ul>
      <li><a href="#" title="Older projects">College Level Courses</a>
         <ul>
          <li><a href="#" title="2003 projects">Bank Exam</a></li>
          <li><a href="#" title="2004 projects">Gate</a></li>
          <li><a href="#" title="2005 projects">SSC-CGL</a></li>
        </ul>
      </li>
      <li><a href="#" title="Older projects">School Level Courses</a>
           <ul>
          <li><a href="#" title="2003 projects">IIT Foundation</a></li>
          <li><a href="#" title="2004 projects">School Tution</a></li>
        </ul>
      </li>
   </ul>
  </li>
  <li><a href="#" title="our offices">OUR OFFICES</a>
    <ul>
      <li><a href="#" title="Older projects">Metros</a>
        <ul>
          <li><a href="#" title="2003 projects">Hyderabad</a></li>
          <li><a href="#" title="2004 projects">Secundrabad</a></li>
          <li><a href="#" title="2005 projects">Mehidiptnam</a></li>
        </ul>
      </li>
      <li><a href="#" title="Active projects">Rest of Cities</a></li>
    </ul>
  </li>
  <li><a href="#" title="Contact">CONTACT US</a></li>
  <li><a href="#" title="Contact">ENROLL ONLINE</a>
   <ul>
      <li><a href="#" title="Older projects">Correspondensce/online</a>
         <ul>
          <li><a href="#" title="2003 projects">Bank Exam</a></li>
          <li><a href="#" title="2004 projects">Gate</a></li>
          <li><a href="#" title="2005 projects">SSC-CGL</a></li>
          <li><a href="#" title="2005 projects">Amcate</a></li>
        </ul>
      </li>
      <li><a href="#" title="Older projects">Online Test series</a>
           <ul>
          <li><a href="#" title="2003 projects">All India Mock GATES</a></li>
          <li><a href="#" title="2004 projects">All India Mock CAT</a></li>
          <li><a href="#" title="2004 projects">Bank Exam</a></li>
          <li><a href="#" title="2004 projects">SSC-CGL</a></li>
        </ul>
      </li>
   </ul>
          
  </li>
  <li>
    <a href="javascript:void(0);" title="2003 projects" ng-click="gotoExam();">go to exam</a>
  </li>
</ul>


