
<div class="" style="">
      <div style="background-color:#5D6D7E;background-color: #5D6D7E;height: 22px;">
        <div class="pull-right" style="color: white;">
            <img src="images/qustionPaper.png" style="height: 17px;"">Question Paper
            <img src="images/Information-icon.png" style="height: 17px;padding-left: 22px;">Instruction
            <img src="images/i.png" style="height: 17px;padding-left: 19px;">Question Paper
        </div>
      </div> 
      <div class="" style="background-color: #cccccc;">
        <span class="pull-left">Section</span>
        <span class="pull-right">Time Lift:1:30</span>
      </div>
      <div class="" style="border: 1px solid #c0c0c0; clear:both;">
            <mor-menu> </mor-menu>
      </div>
    <div class="" style="background-color:#fff">
      <div id="leftPan" class="pull-left" style="width:78%;">
          <div class="" style="height: 1.5em;">
            <div class="pull-left" style="color: red;font-size: 12px;">Question Type:MCQ</div>
            <div class="pull-right" style="font-size: 12px; padding-left: 135px;">Mark for correct answer 1 | Negative answer 0.33</div>  
          </div>          
          <div class="" style="background-color:#85C1E9;height: 1.5em;"></div>
          
          <div class="" style="border: 1px solid #c0c0c0; height: 416px;" >            
              <div style="overflow-y: scroll;overflow-x: hidden;height: 413px; ">
                <div style=""></div>
                <hr>
                      <b><div style="padding-left: 15px;">{{questionPaper.qNo}}. {{questionPaper.question}} </div></b><br>
                      <b><div class="row" style="padding-left: 15px;">
                          <div class="col-lg-2">(A) {{questionPaper.options.a}}</div>
                          <div class="col-lg-2">(B) {{questionPaper.options.b}}</div>
                          <div class="col-lg-2">(C) {{questionPaper.options.c}}</div>
                          <div class="col-lg-2">(D) {{questionPaper.options.d}}</div>
                        </div>
                      </b>
                       
                      <div style="padding-left: 15px; ">
                        <input type="radio" name="ans" ng-model="ans" ng-change="answered();" ng-checked="questionPaper.ans == 'a'" value="a">A</div><br>
                      <div style="padding-left: 15px;">
                        <input type="radio" name="ans" ng-model="ans" ng-change="answered();" ng-checked="questionPaper.ans == 'b'" value="b">B</div><br>
                      <div style="padding-left: 15px;">
                        <input type="radio" name="ans" ng-model="ans" ng-change="answered();" ng-checked="questionPaper.ans == 'c'" value="c">C</div><br>
                      <div style="padding-left: 15px;">
                        <input type="radio" name="ans" ng-model="ans" ng-change="answered();" ng-checked="questionPaper.ans == 'd'" value="d">D</div><br>

              </div>            
          </div>
          
          <div class="" style="border: 1px solid #c0c0c0;" >            
              <button class="btn btn-primary" ng-click="markForReview(question+1);" 
                style="font-size: 13px;background-color: transparent;color: black;margin-left: 11px; ">
                Mark for Review & next
              </button>
              <button class="btn btn-primary" ng-click="clear();" 
                  style="font-size: 13px;background-color: transparent;color: black;">Clear Response</button>
              <button class="btn btn-primary pull-right" ng-click="savenextQuestion(question+1);" style="font-size: 13px;">
                Save&Next
              </button>                   
          </div>
      </div>
      <div class="" style="width:2%; height:200px;display: inline-flex;align-items: center;">
        <i class="glyphicon glyphicon-chevron-right " ng-show="rightLeft" ng-click="minimizeRightPan();"></i>
        <i class="glyphicon glyphicon-chevron-left " ng-show="!rightLeft" ng-click="maxmizeRightPan();"></i>
      </div>
      <div id="rightPan" class="pull-right" style="width:20%;">
          <div class="text-center">
            <img src="images/gana.jpg" height="100" width="100">  
          </div>          
          <div class="text-center">
            <label>Bhookya Ganapathi</label>
          </div>
            <div class="disp_inline">
                <div >
                  <span class="status-boxs ans-box">2</span>
                  <span>Answered</span> 
                </div>
                <div >
                  <span class="status-boxs notans-box">2</span>
                  <span>Not Answered</span> 
                </div>
            </div>
            <div class="disp_inline">   
                <div class="" >
                  <span class="status-boxs not-visited-box">2</span>
                  <span>Not Visited</span>
                </div>
                <div class="">
                  <span class="status-boxs review-box">2</span>
                  <span>Marked for Review</span>
                </div>
            </div>
            <div class="disp_inline">
              <div class="">
                <span class="status-boxs ans-review-box">2</span>
                <span class="">Answered & Marked for Review</span>
              </div>
            </div>
            <div class="" style="background-color:#85C1E9;">  GA(General Aptitude) </div>
               <div style="font-size: 12px;">Choose a Question</div> 
                <div class="inptCells" style="overflow-y: scroll;overflow-x: hidden;height: 200px;">
        					<div>
                      <span ng-repeat="qst in questionPapers" class="" ng-class="" id="ans{{qst.qNo}}" ng-click="qnoButtons(qst.qNo);">{{qst.qNo}}
                      </span>

        					</div>
					      </div>
              
             <div class="row">
                <center>
                  <button class="btn btn-primary" ng-click="register();" style="font-size: 13px;margin-top: 4px;">Submit</button>

                </center>
              </div>
              </div>
      </div>
      
    </div>
</div>
