

	<div style="">
	<div class="row" style="height:2px">
	  <div class="col-lg-3" style="font-size:16px">
          <div class="dropdown">
      <a href="#" class="dropdown-toggle" type="mouseover" data-toggle="dropdown" style="padding-left: 40px;">GA(General Aptitude...<img src="images/Information-icon.png" style="height: 17px;">
      </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li> <a href="javascript:" ng-click="track();"><center>Track My Order</center></a></li>
           <li><a href="javascript:" ng-click="order();"><center> View My Orders</center></a></li>
        </ul>
      </div>
	     
	  </div>
	
	   
	  <div class="col-lg-3" style="font-size:16px">
	  <div class="dropdown">
      <a href="#" class="dropdown-toggle" type="mouseover" data-toggle="dropdown">AE(AeroSpace Engineer..<img src="images/Information-icon.png" style="height: 17px;">
      </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li> <a href="javascript:" ng-click="track();"><center>Track My Order</center></a></li>
           <li><a href="javascript:" ng-click="order();"><center> View My Orders</center></a></li>
        </ul>
      </div>
	  </div>
	 
    </div>
    </div>


