<div class="row" style="background:#E0F574;position: relative;z-index: 1;">
    <home-menu is-admin="{{isAdmin}}"></home-menu>
</div>

<div>
				<table  style="width:100%;background-color: lightskyblue" class="table table-bordered table-striped table-hover">
 					<thead>
 						<tr>
   				 			<th>S.no</th>
    			 			<th>QuestionPaper-Id</th>
   				 			
 			 			</tr>
  						</thead>
  						<tbody>
              				<tr ng-repeat = "papers in rrbData" >
    							<td>{{$index+1}}</td>
    							<td><a ng-href="javascript:" ng-click="viewPaper(papers.id);">{{papers.id}}</a></td>
    						</tr>
  						</tbody>

  					</table>	
				</div>