.tbl_border_radius{
	border-radius:8px;
}
.nav {
    width: 401px;
    height: 48px;
    background: url(../i/blue-nav.gif) no-repeat;
    position: absolute;
    top: 100px;
    left: 100px;
}
a,a:focus,focus {
    outline:0px none;
}


/*
html,
body {
    height: auto !important;
}*/

/*footer set to bottom of the page */
.footer-wrapper {
    min-height: 900px !important;
    height: auto !important;
    background-color: #fafafa;
}

.div[hub-footer],
hub-footer {
    position: absolute !important;
    z-index:0;
}

.page-wrapper{
    position: static;
}
html{
    position: relative;
    min-height: 100%;
    height: auto;
}
.site-wrapper{
  /*  overflow: visible;    */
  margin-bottom:30px;
}

.row,
.row-fluid {
    margin-right: 0;
    margin-left: 0;
}

/* For equal height coloumns */

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}

.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}

.main-content-right {
    margin-right: 0;
    margin-left: 0;
    padding: 0px;
    display: flex;
    display: -webkit-flex;
}

.col-padding-no {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0px;
    padding-right: 0px;
}


.leftmenu-fixed-size {
    width: 273px;
    min-width: 273px;
}

.main-content-flex {
    flex: auto;
    -webkit-flex: auto;
}

.main-container {
    font-size: 14px;
    padding-top: 0px;
}

.rightsecdv{
        width:998px;
        margin-left:auto;
        margin-right:auto;
}

.main-container > div {
    height: 100%;
    padding-bottom: 0em;
    position: relative;
}

.main-content{
    background-color: #ebebeb;
    position: relative;

    .mainleftsec{
        width:273px;
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
        padding-top: 25px;
    }
    .mainrightsec{
        margin-left:273px;
        padding-bottom:50px;
        background-color: #ffffff;
        position: relative;
        z-index: 2;


        -webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,.2);
        -moz-box-shadow: -3px 0px 5px 0px rgba(0,0,0,.2);
        box-shadow: -3px 0px 5px 0px rgba(0,0,0,.2);
    }
}


.footer{
	position:absolute;
	bottom:0;
	width:100%;
	background-color: #95A5A6;
}
.inptCells div{
	margin-bottom:4px;
}
.inptCells span{
	text-align:center;
	width:30px;
	display:inline-block;
	border-radius:4px;
	margin:1px;
	border:1px solid #7f7985;
	background-color:#7f7985;
    cursor: pointer;
}
.inptCells span.ans{
	color:#ffffff;
	background-color:#28eb2e;
}
.inptCells span.notAns{
    color:#ffffff;
    background-color:red;
}
.inptCells span.ansForReview{
    color:#ffffff;
    background-color:#AB34DB;
}
.status-boxs{
	width:2em;
	height:2em;
	color:#fff;
	display:inline-block;
	text-align:center;
}
.ans-box{
    background-color:green;
}
.notans-box{
    background-color:red;
}
.not-visited-box{
    background-color:yellow;
}
.review-box{
    background-color:#AB34DB;
}
.ans-review-box{
    background-color:#AB34DB;
}
.disp_inline{
    display:inline-flex;    
}
.disp_inline span{
    margin:2px;
}
.text-center{
    text-align: center;
}

#menu, #menu ul {
    

    list-style:none;
    padding:0;
    margin:0;
}
#menu div {
background:#E0F574;
    
}
#menu li {
    float:left;
    position:relative;
    line-height: 2em;
    width: 13em;
}
#menu li ul {
    position:absolute;
    margin-top:0em;
    margin-left:.5em;
    display:none;
}
#menu ul li ul {
    margin-top:0em;
    margin-left:15em;
}
#menu a {
    display:block;
    border-right:1px solid #fff;
    background:#E0F574;
    color:#3B3B3B;
    text-decoration:none;
    padding:0 10px;
}
#menu a:hover {
    background-color:#5798B4;
    color:#fff;
}
#menu ul {
    border-top:1px solid #fff;
}
#menu ul a {
    border-right:none;
    border-right:1px solid #fff;
    border-bottom:-1px solid #fff;
    border-left:1px solid #fff;
    background:#AEC245;
}
/* SHOW SUBMENU 1 */
#menu li:hover ul, #menu li.over ul {
    
    display:block;
   
}
#menu li:hover ul ul, #menu li.over ul ul {
    display:none;
}
/* SHOW SUBMENU 2 */
#menu ul li:hover ul, #menu ul li.over ul {
margin-left: 181px;
    display:block;
     margin-top: -23px;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

