.tbl_border_radius{
	border-radius:8px;
}

.main-container{
	height:100%;
	position:relative;
	width:100%;
	z-index:20
}
.main-container>div{
	height:100%;
	position:relative
}
.nav {
    width: 401px;
    height: 48px;
    background: url(../i/blue-nav.gif) no-repeat;
    position: absolute;
    top: 100px;
    left: 100px;
}
